/* 기본 마진, 패딩값 0, 사이징 바꿔줌 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* test 컴포넌트 전체 div */
.test {
    width: 100%;
    height: 1000px;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 폰트어썸 아이콘버튼 */
.icon {
    opacity: 0;
    font-size: 18px;
    color: white;
    transform: scale(0.1);
    transition: all 0.2s ease;
    cursor: pointer;
}
/* 티켓디자인 사이의 도트라인 디자인 */
.dotline {
    position: absolute;
    top: 5px;
    left: 40px;
    height: 190px;
    border-left: 0.5px white dashed;
}
/* 표 제목에 글자커서 뜨는것 없애기 */
h2 {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 130px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
/* 표 표준 디자인 */
.card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 4px;
}
/* 표 디자인중 도트라인 끝과 시작부분 큰 원 */
.card:before {
    content: "";
    z-index: 10;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
}
.card:after {
    content: "";
    z-index: 10;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
}
/* 표 텍스트 디자인 */
p {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 70px;
    color: black;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: all 0.2s ease;
}
/* 표에 들어갈 사진의 전체적 디자인과 그레이필터 */
.pic {
    z-index: 100;
    width: 400px;
    height: 200px;
    background-image: url("../../assets/조현화랑/1.jpg");
    background-size: 100% 100%;
    filter: grayscale(100%);
}
/* 아이콘버튼을 감싸는 div */
.social {
    position: absolute;
    left: 60px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;
    z-index: 10000;
}
/* 버튼 호버시에 아이콘 차례대로 나타내기 */
.icon:nth-of-type(1) {
    transition-delay: 0.4s;
}
.icon:nth-of-type(2) {
    transition-delay: 0.3s;
}
.icon:nth-of-type(3) {
    transition-delay: 0.2s;
}
.card:hover .icon {
    opacity: 1;
    transform: scale(1);
}
/* 표 버튼 디자인 */
button{
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
}
/* 버튼 호버시의 디자인 */
.card:hover button {
        transform: scale(16.5);
}
.card:hover p {
    color: white;
}
.card:hover .pic {
    filter: grayscale(0);
}
/* 카드별 사진 변경 */
.card2 .pic {
    background-image: url("../../assets/부산시립미술관/1.jpg");
}
.card3 .pic {
    background-image: url("../../assets/부산현대미술관/1.jpg");
}
.card4 .pic {
    background-image: url("../../assets/그라운드시소서촌/1.jpg");
}
/* 카드별 버튼 디자인 변경 */
.card2 button {
    background-color: coral;
    mix-blend-mode: multiply;
}
.card3 button {
    background-color: brown;
    mix-blend-mode: multiply;
}
.card4 button {
    background-color: cadetblue;
    mix-blend-mode: multiply;
}
/* 모달창의 검은배경 */
.black-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(00, 00, 00, .5);
    z-index: 10;
}
/* 모달창의 하얀배경 (실질적 컨텐츠 배치장소) */
.white-bg {
    position: fixed;
    top: 10%;
    left: 15%;
    width: 1000px;
    height: 600px;
    background-color: white;
}
/* 모달창 트랜지션 애니메이션 */
.fade-enter-active, .fade-leave-active {
    transition: all .5s ease-in;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-leave, .fade-enter-to {
    opacity: 1;
}
/* 모달창 닫기 버튼 */
.kakaooff {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    top: 10px;
}
/* 슬라이드쇼 전체 박스 */
.slideShow { 
    position: absolute;
    width: 500px;
    height: 600px;
    right: 100px;
    top: 0;
    right: 0;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}
/* 슬라이드쇼 사진박스 */
.slideShow_itembox {
    position: relative;
    top: 0;
    width: 400px;
    height: 400px;
    background-color: black;
    overflow: hidden;
    margin: auto;
}
/* 슬라이드쇼 ul */
.slideShow_items {
    position : absolute;
    width: 1600px;
    transition: all 1s;
}
.slideShow_itembox li {
    list-style: none;
}
/* 슬라이드쇼의 사진 디자인 */
.slideShow_item {
    width: 400px;
    height: 400px;
    object-fit: cover;
    float: left;
}
/* 슬라이드쇼 좌측버튼 */
.slideShow_left {
    top: 45%;
    left: 2%;
    z-index: 2;
}
/* 슬라이드쇼 우측버튼 */
.slideShow_right {
    top: 45%;
    right: 2%;
}