/* 전체 태그와 after,before 기본 마진,패딩값 박스사이징 지정 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 전체 카드들 display지정 */
.about {
    display: inline-block;
  }
  /* 검색창 전체 박스 */
  .search-wrapper {
      position: absolute;
      transform: translate(-50%, -50%);
      top:70px;
      right: 0px;
  }
  /* 글이 작성될공간과 아이콘 감싸는 박스 */
  .search-wrapper .input-holder {    
      height: 50px;
      width:50px;
      overflow: hidden;
      background: rgba(255,255,255,0);
      border-radius:6px;
      position: relative;
      transition: all 0.3s ease-in-out;
  }
  /* 활성화시에 박스 디자인 */
  .search-wrapper.active .input-holder {
      width:450px;
      height: 45px;
      border-radius: 50px;
      background: white;
      transition: all .5s;
  }
  /* 글이 작성될 공간 */
  .search-wrapper .input-holder .search-input {
      width:100%;
      height: 20px;
      padding:0px 20px 0 20px;
      opacity: 0;
      position: absolute;
      background: transparent;
      border:none;
      outline:none;
      font-size: 16px;
      color:black;
      transform: translate(0, 60px);
  }
  /* 활성화시에 글 작성될 공간 */
  .search-wrapper.active .input-holder .search-input {
      opacity: 1;
      transform: translate(0, 10px);
  }
  /* 검색창 활성화 시키는 버튼 디자인 */
  .search-wrapper .input-holder .search-icon {
      width:40px;
      height:40px;
      border:none;
      border-radius:6px;
      background: darkgray;
      padding:0px;
      outline:none;
      position: relative;
      z-index: 2;
      float:right;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  /* 활성화시에 활성화 버튼 디자인 */
  .search-wrapper.active .input-holder .search-icon {
      right: 5px;
      top: 5px;
      width: 35px;
      height:35px;
      border-radius: 30px;
  }
  /* 버튼안에 있는 돋보기 모양 */
  .search-wrapper .input-holder .search-icon span {
      width:22px;
      height:22px;
      display: inline-block;
      position: relative;
      transform: rotate(45deg);
      transition: all .4s ;
  }
  /* 돋보기 after,before 디자인 */
    .search-wrapper .input-holder .search-icon span::before,
    .search-wrapper .input-holder .search-icon span::after {
      position: absolute;
      content: '';
    }
    .search-wrapper .input-holder .search-icon span::before {
      width: 4px;
      height: 10px;
      left: 9px;
      top: 18px;
      border-radius: 2px;
      background: gold;
    }
    .search-wrapper .input-holder .search-icon span::after {
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      border-radius: 16px;
      border: 4px solid gold;
    }
  /* 활성화시에 돋보기 after, before 디자인 추가 */
  .search-wrapper.active .input-holder .search-icon span::after {
      width: 25px;
      height: 1px;
      top: 10px;
      border: 2px solid gold;
  }
  .search-wrapper.active .input-holder .search-icon span::before {
    width: 25px;
    height: 1px;
    top: 10px;
    left: 0;
    border: 2px solid gold;
    transform: rotate(-90deg);
  }
  /* 검색창 닫기버튼 디자인 */
  .search-wrapper .close {
      position: absolute;
      z-index: 1;
      top:10px;
      right:10px;
      width:25px;
      height:25px;
      cursor: pointer;
      transform: rotate(-270deg);
      transition: all .3s;
      transition-delay: 0.3s;
  }
  /* 활성화시에 닫기버튼 디자인 */
  .search-wrapper.active .close {
      top: 10px;
      right:-50px;
      transform: rotate(45deg);
      transition: all .6s;
      transition-delay: 0.5s;
  }
  /* 닫기버튼의 after,before 디자인 */
  .search-wrapper .close::before, .search-wrapper .close::after {
      position:absolute;
      content:'';
      border-radius: 2px;
  }
  .search-wrapper .close::before {
    width: 4px;
    height: 10px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: gold;
  }
  .search-wrapper .close::after {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid gold;
  }
  /* 카드를 감싸는 박스 */
  .flip-card-container {
    float: left;
    width: 310px;
    height: 500px;
    margin: 40px;
    perspective: 1000px;
  }
  /* 카드의 디자인 지정 */
  .flip-card {
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
  }
  /* 카드에 호버시 또는 카드에 버튼 포커스시 상위요소인 카드가 돌아간 상태로 유지 */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }
  /* 정면카드와 뒷카드 공통 디자인 */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: rgb(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
  }
  /* 정면카드와 뒷카드의 각각의 초기값 설정 */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }
  /* 카드의 이미지와 태그를 달 박스 */
  figure {
    z-index: -1;
  }
  /* 뒷면카드의 이미지 규격 */
  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
  }
  /* 이미지태그 사이즈 맞추기 */
  img {
    height: 100%;
    border-radius: 24px;
  }
  /* 태그달 캡션 */
  figcaption {
    display: block;
    width: auto;
    padding: 8px 13px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 6px;
    position: absolute;
    top: 3%;
    right: 12px;
    border-radius: 20px;
    color: white;
    background: rgb(0,0,0,0.5);
  }
   /* 카드의 정보를 담을 ul */
  .cloth {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: -60px;
    right: 50px;
  }
  /* 카드의 정보들 */
  li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    text-align: center;
    position: relative;
  }
  /* 카드의 정보밑의 밑줄 */
  li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: .2;
  }
  /* 홀드 버튼 디자인 */
  button {
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    width: 80px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid gray;
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
    cursor: pointer;
  }
  /* 버튼에 호버,클릭 포커스시 디자인 */
  button:hover,
  button:focus {
    color: blue;
    background: rgb(0,0,0,0.5);
    border-color: currentColor;
  }
  /* 호버시에 움직일 라인 애니메이션 감싸는 박스 */
  .design-container {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  /* 라인에 공통으로 들어갈 옵션 */
  .design {
    display: block;
    background: white;
    position: absolute;
    opacity: .5;
  }
  /* 각각의 라인 위치와 크기 */
  .design--1, .design--2 {
    width: 10px;
    height: 500px;
  }
  .design--3, .design--4, .design--5, .design--6 {
    width: 1px;
    height: 500px;
  }
  .design--1 {
    right: 0;
    top: -80px;
    transform: rotate(-45deg);
  }
  .design--2 {
    left: 0;
    bottom: -80px;
    transform: rotate(-45deg);
  }
  .design--3 {
    right: 20px;
    bottom: -400px;
    transition-duration: .5s;
  }
  .design--4 {
    left: 20px;
    top: -400px;
    transition-duration: .5s;
  }
  .design--5 {
    left: 40px;
    bottom: -400px;
    transition-duration: .5s;
  }
  .design--6 {
    right: 40px;
    top: -400px;
    transition-duration: .5s;
  }
  /* 버튼 호버, 포커스시 라인 애니메이션 */
  button:focus + ul + div .design--3, button:hover + ul + div .design--3{
    bottom: -80px;
  }
  button:focus + ul + div .design--4, button:hover + ul + div .design--4{
    top: -80px;
  }
  button:focus + ul + div .design--5, button:hover + ul + div .design--5{
    bottom: -80px;
  }
  button:focus + ul + div .design--6, button:hover + ul + div .design--6{
    top: -80px;
  }
  @media screen and (max-width: 1400px) {
    .search-wrapper {
      transform: translate(-20%, -60%);
    }
    .search-wrapper.active .input-holder {
        width:300px;
        height: 40px;
    }
    .search-wrapper.active .input-holder .search-icon {
        width: 30px;
        height:30px;
    }
    .search-wrapper.active .close {
        right:-40px;
    }
  }
  @media screen and (max-width: 1200px) {
    .search-wrapper.active .input-holder {
        width: 200px;
        height: 40px;
      }
  }
  @media screen and (max-width: 1200px) {
    .search-wrapper.active .input-holder {
        width: 170px;
        height: 40px;
      }
  }