* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.test {
    width: 100%;
    height: 1000px;
}
.icon {
    opacity: 0;
    font-size: 18px;
    color: white;
    transform: scale(0.1);
    transition: all 0.2s ease;
    cursor: pointer;
}
.dotline {
    position: absolute;
    top: 5px;
    left: 40px;
    height: 190px;
    border-left: 0.5px white dashed;
}
h2 {
    pointer-events: none;
}
body {
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 4px;
}
.card:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
}
.card:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
}
.card h2 {
    z-index: 99;
    position: absolute;
    bottom: 0;
    right: 130px;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
}
p {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 70px;
    color: black;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: all 0.2s ease;
}
.pic {
    z-index: 100;
    width: 400px;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
    background-size: 100% 100%;
    filter: grayscale(100%);
}
.social {
    position: absolute;
    left: 60px;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;
    z-index: 10000;
}
.icon:nth-of-type(1) {
    transition-delay: 0.4s;
}
.icon:nth-of-type(2) {
    transition-delay: 0.3s;
}
.icon:nth-of-type(3) {
    transition-delay: 0.2s;
}
.card:hover .icon {
    opacity: 1;
    transform: scale(1);
}
button{
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: orangered;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
}
.card:hover button {
        transform: scale(16.5);
}
.card:hover .circle {
    transform: scale(16.5);
}
.card:hover p {
    color: white;
}
.card:hover .pic {
    filter: grayscale(0);
}
.card2 .pic {
    background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
.card2 button {
    background-color: blue;
    mix-blend-mode: multiply;
}