.about {
    display: inline-block;
    height: 2500px;
    background-color: black;
  }
  
  ::selection {
    background: #212129;
  }
  
  .search-wrapper {
      position: absolute;
      transform: translate(-50%, -50%);
      top:30px;
      right: 10px;
  }
  
  .search-wrapper .input-holder {    
      height: 50px;
      width:50px;
      overflow: hidden;
      background: rgba(255,255,255,0);
      border-radius:6px;
      position: relative;
      transition: all 0.3s ease-in-out;
  }
  .search-wrapper.active .input-holder {
      width:450px;
      height: 45px;
      border-radius: 50px;
      background: white;
      transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  }
  .search-wrapper .input-holder .search-input {
      width:100%;
      height: 20px;
      padding:0px 20px 0 20px;
      opacity: 0;
      position: absolute;
      background: transparent;
      box-sizing: border-box;
      border:none;
      outline:none;
      font-family:"Open Sans", Arial, Verdana;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color:black;
      transform: translate(0, 60px);
      transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
      transition-delay: 0.3s;
  }
  .search-wrapper.active .input-holder .search-input {
      opacity: 1;
      transform: translate(0, 10px);
  }
  .search-wrapper .input-holder .search-icon {
      width:50px;
      height:50px;
      border:none;
      border-radius:6px;
      background: black;
      padding:0px;
      outline:none;
      position: relative;
      z-index: 2;
      float:right;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }
  .search-wrapper.active .input-holder .search-icon {
      right: 5px;
      top: 5px;
      width: 35px;
      height:35px;
      border-radius: 30px;
  }
  .search-wrapper .input-holder .search-icon span {
      width:22px;
      height:22px;
      display: inline-block;
      vertical-align: middle;
      position:relative;
      transform: rotate(45deg);
      transition: all .4s ;
  }
  .search-wrapper.active .input-holder .search-icon span::after {
      width: 25px;
      height: 1px;
      top: 10px;
      border: 2px solid purple;
  }
  .search-wrapper.active .input-holder .search-icon span::before {
    width: 25px;
    height: 1px;
    top: 10px;
    left: 0;
    border: 2px solid purple;
    transform: rotate(-90deg);
  }
  .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
      position: absolute; 
      content:'';
  }
  .search-wrapper .input-holder .search-icon span::before {
      width: 4px;
      height: 10px;
      left: 9px;
      top: 18px;
      border-radius: 2px;
      background: purple;
  }
  .search-wrapper .input-holder .search-icon span::after {
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      border-radius: 16px;
      border: 4px solid purple;
  }
  .search-wrapper .close {
      position: absolute;
      z-index: 1;
      top:10px;
      right:15px;
      width:25px;
      height:25px;
      cursor: pointer;
      transform: rotate(-180deg);
      transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
      transition-delay: 0.2s;
  }
  .search-wrapper.active .close {
      top: 10px;
      right:-50px;
      transform: rotate(45deg);
      transition: all .6s;
      transition-delay: 0.5s;
  }
  .search-wrapper .close::before, .search-wrapper .close::after {
      position:absolute;
      content:'';
      border-radius: 2px;
  }
  .search-wrapper .close::before {
    width: 4px;
    height: 10px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: purple;
  }
  .search-wrapper .close::after {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid purple;
  }
  
  /* default */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* .flip-card-container */
  .flip-card-container {
    float: left;
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);
  
    width: 310px;
    height: 500px;
    margin: 40px;
  
    perspective: 1000px;
  }
  
  /* .flip-card */
  .flip-card {
    width: inherit;
    height: inherit;
  
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
  }
  
  /* hover and focus-within states */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }
  
  /* .card-... */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
  
    background: rgb(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  
    backface-visibility: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .card-front */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  /* .card-back */
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  /* figure */
  figure {
    z-index: -1;
  }
  
  /* figure, .img-bg */
  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  }
  
  /* img */
  img {
    height: 100%;
    border-radius: 24px;
  }
  
  /* figcaption */
  figcaption {
    display: block;
  
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
  
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
  
    position: absolute;
    top: 0;
    right: 12px;
  
    color: #f6f6f6;
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  /* .img-bg */
  .img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  .card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  }
  
  .card-front .img-bg::before {
    content: "";
  
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
  
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
  
    transition: .1s;
  }
  /* hover state */
  .flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
  }
  
  /* ul */
  ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
  
    list-style: none;
    color: var(--white-1);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* li */
  li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
  
    font-size: 14px;
    text-align: center;
  
    position: relative;
  }
  
  li:nth-child(2n) {
    color: var(--white-2);
  }
  
  li:not(:last-child)::after {
    content: "";
  
    position: absolute;
    bottom: 0;
    left: 0;
  
    width: 100%;
    height: 1px;
  
    background: currentColor;
    opacity: .2;
  }
  
  /* button */
  button {
    font-family: inherit;
    font-weight: bold;
    color: var(--white-1);
  
    letter-spacing: 2px;
  
    padding: 9px 20px;
    border: 1px solid var(--grey);
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
  
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    color: var(--primary);
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
  }
  
  button:active {
    transform: translate(2px);
  }
  
  /* .design-container */
  .design-container {
    --tr: 90;
    --op: .5;
  
    width: 100%;
    height: 100%;
  
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  
    pointer-events: none;
  }
  
  /* .design */
  .design {
    display: block;
  
    background: var(--grey);
    position: absolute;
  
    opacity: var(--op);
    transition: .3s;
  }
  
  .design--1,
  .design--2,
  .design--3,
  .design--4 {
    width: 1px;
    height: 100%;
  }
  
  .design--1,
  .design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
  }
  
  .design--1 {
    left: 20%;
  }
  
  .design--2 {
    left: 80%;
  }
  
  .design--3,
  .design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--3 {
    left: 24%;
  }
  
  .design--4 {
    left: 76%;
  }
  
  .design--5,
  .design--6,
  .design--7,
  .design--8 {
    width: 100%;
    height: 1px;
  }
  
  .design--5,
  .design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  }
  
  .design--5 {
    top: 41%;
  }
  
  .design--6 {
    top: 59%;
  }
  
  .design--7,
  .design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--7 {
    top: 44%;
  }
  
  .design--8 {
    top: 56%;
  }
  
  /* states */
  button:hover+.design-container,
  button:active+.design-container,
  button:focus+.design-container {
    --tr: 20;
    --op: .7;
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
  }