.about {
    display: inline-block;
    height: 2500px;
    background-color: black;
  }
  
  .search-wrapper {
      position: absolute;
      transform: translate(-50%, -50%);
      top:30px;
      right: 10px;
  }
  
  .search-wrapper .input-holder {    
      height: 50px;
      width:50px;
      overflow: hidden;
      background: rgba(255,255,255,0);
      border-radius:6px;
      position: relative;
      transition: all 0.3s ease-in-out;
  }
  .search-wrapper.active .input-holder {
      width:450px;
      height: 45px;
      border-radius: 50px;
      background: white;
      transition: all .5s;
  }
  .search-wrapper .input-holder .search-input {
      width:100%;
      height: 20px;
      padding:0px 20px 0 20px;
      opacity: 0;
      position: absolute;
      background: transparent;
      border:none;
      outline:none;
      font-size: 16px;
      color:black;
      transform: translate(0, 60px);
  }
  .search-wrapper.active .input-holder .search-input {
      opacity: 1;
      transform: translate(0, 10px);
  }
  .search-wrapper .input-holder .search-icon {
      width:50px;
      height:50px;
      border:none;
      border-radius:6px;
      background: black;
      padding:0px;
      outline:none;
      position: relative;
      z-index: 2;
      float:right;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  .search-wrapper.active .input-holder .search-icon {
      right: 5px;
      top: 5px;
      width: 35px;
      height:35px;
      border-radius: 30px;
  }
  .search-wrapper .input-holder .search-icon span {
      width:22px;
      height:22px;
      display: inline-block;
      position: relative;
      transform: rotate(45deg);
      transition: all .4s ;
  }
  .search-wrapper.active .input-holder .search-icon span::after {
      width: 25px;
      height: 1px;
      top: 10px;
      border: 2px solid purple;
  }
  .search-wrapper.active .input-holder .search-icon span::before {
    width: 25px;
    height: 1px;
    top: 10px;
    left: 0;
    border: 2px solid purple;
    transform: rotate(-90deg);
  }
  .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
      position: absolute;
      content:'';
  }
  .search-wrapper .input-holder .search-icon span::before {
      width: 4px;
      height: 10px;
      left: 9px;
      top: 18px;
      border-radius: 2px;
      background: purple;
  }
  .search-wrapper .input-holder .search-icon span::after {
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      border-radius: 16px;
      border: 4px solid purple;
  }
  .search-wrapper .close {
      position: absolute;
      z-index: 1;
      top:10px;
      right:10px;
      width:25px;
      height:25px;
      cursor: pointer;
      transform: rotate(-270deg);
      transition: all .3s;
      transition-delay: 0.3s;
  }
  .search-wrapper.active .close {
      top: 10px;
      right:-50px;
      transform: rotate(45deg);
      transition: all .6s;
      transition-delay: 0.5s;
  }
  .search-wrapper .close::before, .search-wrapper .close::after {
      position:absolute;
      content:'';
      border-radius: 2px;
  }
  .search-wrapper .close::before {
    width: 4px;
    height: 10px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: purple;
  }
  .search-wrapper .close::after {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid purple;
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .flip-card-container {
    float: left;
    width: 310px;
    height: 500px;
    margin: 40px;
    perspective: 1000px;
  }

  .flip-card {
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
  }

  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: rgb(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
  }

  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }

  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }

  figure {
    z-index: -1;
  }

  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    border-radius: 24px;
  }

  figcaption {
    display: block;
    width: auto;
    padding: 8px 13px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 6px;
    position: absolute;
    top: 3%;
    right: 12px;
    border-radius: 20px;
    color: white;
    background: rgb(0,0,0,0.5);
  }

  .img-bg {
    background: rgb(0,0,0,0.3);
  }
  
  .card-front .img-bg::before {
    content: "";
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
    width: 100%;
    height: 6px;
    border: 1px solid blue;
    border-left-color: transparent;
    border-right-color: transparent;
    transition: .1s;
  }

  .flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: blue;
    border-right-color: blue;
  }

  ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    text-align: center;
    position: relative;
  }
  
  li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: .2;
  }

  button {
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    width: 80px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid gray;
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    color: blue;
    background: rgb(0,0,0,0.5);
    border-color: currentColor;
  }

  .cloth {
    position: absolute;
    top: -60px;
    right: 50px;
  }

  .design-container {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .design {
    display: block;
    background: white;
    position: absolute;
    opacity: .5;
  }
  
  .design--1, .design--2 {
    width: 10px;
    height: 500px;
  }
  .design--3, .design--4, .design--5, .design--6 {
    width: 1px;
    height: 500px;
  }

  .design--1 {
    right: 0;
    top: -80px;
    transform: rotate(-45deg);
  }

  .design--2 {
    left: 0;
    bottom: -80px;
    transform: rotate(-45deg);
  }

  .design--3 {
    right: 20px;
    bottom: -400px;
    transition-duration: .5s;
  }

  .design--4 {
    left: 20px;
    top: -400px;
    transition-duration: .5s;
  }

  .design--5 {
    left: 40px;
    bottom: -400px;
    transition-duration: .5s;
  }

  .design--6 {
    right: 40px;
    top: -400px;
    transition-duration: .5s;
  }
  
  button:focus + ul + div .design--3, button:hover + ul + div .design--3{
    bottom: -80px;
  }

  button:focus + ul + div .design--4, button:hover + ul + div .design--4{
    top: -80px;
  }

  button:focus + ul + div .design--5, button:hover + ul + div .design--5{
    bottom: -80px;
  }

  button:focus + ul + div .design--6, button:hover + ul + div .design--6{
    top: -80px;
  }

  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 16px;
  }