* {
    margin: 0;
  }
  .home {
    position: relative;
    width: 100%;
    height: 1000px;
  }
  #btn1 {
    display: none;
  }
  #btn2 {
    display: none;
  }
  #btn3 {
    display: none;
  }
  #page1 {
    z-index: 10;
  }
  #page2 {
    z-index: 9;
  }
  #page3 {
    z-index: 8;
  }
  #page4 {
    z-index: 7;
  }
  #page5 {
    z-index: 6;
  }
  #page6 {
    z-index: 5;
  }
  #page7{
    z-index: 4;
  }
  #page8{
    z-index: 3;
  }
  .nbtn-front {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border : 1px solid black;
    border-radius: 50%;
    right: 5%;
    top: 45%;
    text-align: center;
    background-color: #000099;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    color: white;
  }
  .nbtn-back {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border : 1px solid black;
    border-radius: 50%;
    left: 5%;
    top: 45%;
    text-align: center;
    background-color: #000099;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    color: white;
  }
  .nbtn-front:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    right: 40px;
  }
  .nbtn-back:hover {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    left: 40px;
  }
  #btn1:checked + input + input + div + #page2 div .nbtn-front {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
  #btn1:checked + input + input + div + div + #page3 div .nbtn-back {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
  #btn2:checked + input + div + div + div + #page4 div .nbtn-front {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
  #btn2:checked + input + div + div + div + div + #page5 div .nbtn-back {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
  #btn3:checked + div + div + div + div + div + #page6 div .nbtn-front {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
  #btn3:checked + div + div + div + div + div + div + #page7 div .nbtn-back {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
  .line {
    position: absolute;
    top: 48%;
    width: 60px;
    border: 1px solid black;
    z-index: -1;
  }
  .front {
    right: 0;
  }
  .back {
    left: 0;
  }
  #book {
    margin: auto;
    position: relative;
    width: 1200px;
    height: 500px;
    top: 10%;
    perspective: 2000px;
    box-shadow: 0px 40px 35px black;
  }
  .typingbox {
    margin: auto;
    width: 1200px;
    height: 300px;
    font-size: 50px;
    font-family: 'Nanum Brush Script', cursive;
  }
  .typing {
    margin: auto;
    top: 70px;
    position: absolute;
    width: 1200px;
    height: 200px;
  }
  @keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }
  .blink {
    animation: blink-effect 0.3s infinite;
  }
  .firstpage {
    right : 50%;
    position: absolute;
    width: 600px;
    height: 100%;
  }
  .frontpage {
    left: 50%;
    position: absolute;
    width: 600px;
    height: 100%;
    transform-origin: left center;
    transition-duration: 1.5s;
    backface-visibility: hidden;
  }
  .backpage {
    right : 50%;
    position: absolute;
    background-color: white;
    width: 600px;
    height: 100%;
    transform-origin: right center;
    transform: rotateY(180deg);
    transition-duration: 1.5s;
    backface-visibility: hidden;
  }
  .content-left {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../assets/12.jpg);
    z-index: 10;
  }
  .content-right {
    position: relative;
    width: 200%;
    height: 100%;
    left: -100%;
    background-image: url(../assets/12.jpg);
    z-index: 5;
  }
  
  #btn1:checked + input + input + div + #page2{
    transform: rotateY(-180deg);
    opacity: 1;
  }
  
  #btn1:checked + input + input + div + div + #page3{
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 20;
  }
  
  #btn2:checked + input + div + div + div + #page4{
    transform: rotateY(-180deg);
    opacity: 1;
    z-index: 21;
  }
  
  #btn2:checked + input + div + div + div + div + #page5{
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 22;
  }
  
  #btn2:checked + input + div + div + #page3 {
    z-index: 11 !important;
  }
  
  #btn3:checked + div + div + div + div + div + #page6{
    transform: rotateY(-180deg);
    opacity: 1;
    z-index: 23;
  }
  
  #btn3:checked + div + div + div + div + div + div + #page7{
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 24;
  }
  
  #btn3:checked + div + div + div + div + #page5 {
    z-index: 12 !important;
  }
  
  